<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Powered Email</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                <div class="text-center">
                    <h1>Weather Powered Email</h1>
                </div>
            </div>
            <div class="input_div col-md-10 col-md-offset-1">
                <form method="POST" action="{% block form_action %}{% endblock %}">
                    <h3>{{ form.email.label }}</h3>
                    {{ form.email }}
                    {% if form.errors %}
                    <div class="form-group has-error">
                        <div class="help-block">{{ form.email.errors }}</div>
                    </div>
                    {% endif %}
                    <h3>Location</h3>
                    {{ form.city }}
                    {% csrf_token %}
                    <div class="spacer" style="height: 80px;"></div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" id="edit_attendee_submit" value="Subscribe"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('input').on('keypress', function () {
                $('.has-error').hide();
            });
        });
    </script>
</body>
</html>